
                                /*FICHIER CSS POUR LA BARRE DE NAVIGATION ET DU FOOTER*/


/*permettre au footer de rester en bas de la page*/
body{
    background-color: #c3b2ab;
    margin: 0;
    padding: 0;
    position: relative;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    width: auto;
}
/*mise en forme du header*/
header{
    background-color: #ecd9d1;
}

.logo{
    width: 300px;
}

.input{
width: 250px;
height: 22px;
border: 0;
outline: none;
padding: 6px;
margin-top: 20px;
font-size: 18px;
}
.rangement{
    margin-top: 22px;
    width: 200px;
height: 25px;

}
.numero1{
    padding: 6px 10px;
    margin-top: 20.9px;
    cursor: pointer;
    border: none;
    font-size: 17px;
    float: right;
    background-color: #f54d05;
    height: 32px;
    width: 45px;
}
.material-icons{
    font-weight: bold;
    font-size: 22px;
}

.numero1 :hover{
    background-color: #fd6e31;
}


.image-header{
    width: 20px;
}

#contenant1{
    display: flex;
    justify-content: space-between;
    margin-left: 10px;
    margin-right: 10px;
    font-size: 20px;
}
#contenant1 div ul li{
    font-weight: bold;
}

#contenant1 div ul li:hover{
    color: #f54d05;
}

#contenant1 div>ul>li{
    display: inline-block;
    margin-left: 10px;
    margin-right: 10px;

}

.li-header-navigation{
    display: flex;
    list-style: none;
    justify-content: center;
    font-size: 20px;
    
}
.li-header-navigation li{
    margin: auto;
    margin-bottom: 10px;
   font-weight: bold;
   text-align: center;
}
.li-header-navigation li:hover{
    background-color: #f54d05;
    height: 25px;
    width: 100px;
    color: white;
    border: white solid;
}
a{
    text-decoration: none;
}
/* Apres avoir visté un lien*/
a:visited{
    color:black;
}
a:visited:hover{
    color:white;
}
.a:visited:hover{
    color: #f54d05;
}
.li-deroulant{
    display:none ;
    position: absolute;
    text-align: left;
    z-index: 100;
    padding: 0;
    background: linear-gradient(rgba(255, 85, 0, 0.922),rgba(255, 255, 255, 0.303) );
    list-style: none;
    margin-top: 5px;
}
.li-deroulant li{
    margin-top: 10px;

}
.block:hover .li-deroulant{
    display: block;
}
/* Css du main de la page photo1>*/

.sefixer{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 60px;
    margin-left: 180px;
}
.blockdeparagraphe{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 105px;
    margin-left: 180px;
    

}
.paragraphe7{
    margin-right: 40px;
}
.blockdeinpu{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-left: 180px;
    margin-right: 105px;

}

.blockbutton{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    margin-right: 20px;
    margin-left: 180px;
    margin-top: 0px;
    margin-bottom: 10px;
    

}
.Ph1, .Ph2{
    width: 350px;
    height: 450px;

    margin-left: 10px;
    margin-right: 105px;
    margin-top: 20px;
    padding-bottom: 0px;

}
.Ph1{
    padding-right: 50px;
    padding-left: 15px;
    
}


/*.paragraphe7, .paragraphe8{
    margin-left: 170px; 
}*/

.inpu6{
    /*margin-left: 22%;
   
    
    margin-top: 0px;
    padding: 5px;
    padding-left: 8px;
    padding-right: 8px;*/
    margin-left: 15px;
    margin-bottom: 30px;
    padding-bottom:15px ;
    background-color: orangered;
    border-radius: 8px 8px 8px 8px ;
    font-weight: bold;

}


.inpu7{
    margin-left: 62%;
    margin-right: 30px;
    margin-bottom: 20px;
    padding: 5px;
    margin-left: 5px;
    margin-bottom: 30px;
    padding-bottom:15px ;
    background-color: orangered;
    border-radius: 8px 8px 8px 8px ;
    font-weight: bold;
}
.Ph4, .Ph6{
    
    width: 250px;
    height: 400px;
    margin-left: 130px;
    margin-right: 75px;
    margin-top: 20px;
}

    
.Ph5{
    padding-left: 15px;
    width: 250px;
    height: 400px;
    margin-bottom: 20px;
    margin-left: 150px;
    margin-left: 45px;
  
}

.paragraphe11, .paragraphe12{
    text-align: center;
    
}
.inpu8{
    
    margin-left: 42%;
    padding-bottom:25px ;
    padding: 5px;
    padding-left: 2px;
    padding-right: 2px;
    padding-bottom:5px ;
    background-color: orangered;
    border-radius: 8px 8px 8px 8px ;
    font-weight: bold;
}


.aime, .AIME{
    background: none;
    border:#ECD9D1; ;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    padding-right: 0px;
    padding-left: 0px;
    margin-bottom: 15px;
    transition: color 0.3;
    margin-right: 105px;
    margin-left: 0px;
}
.aimer{
    background: none;
    border:#ECD9D1; ;
    color: white;
    cursor: pointer;
    font-size: 16px;
    padding: 5px 10px;
    padding-left: 0px;
    margin-bottom: 10px;
    position: relative;
    transition: color 0.3;
    margin-right: 15px;
    margin-left: 10px;
}

.aime::before  {
    content: "\2665";
    font-size: 50px;

  }
  .aime:active{
    color:black
  }
  .AIME::before  {
    content: "\2665";
    font-size: 50px;

  }
  .AIME:active{
    color:black
  }

      
  .aimer::before  {
        content: "\2665";
        font-size: 50px;

      }
      .aimer:active{
        color:black
      }



/*mise en forme du footer*/
footer{
    background-color:#ecd9d1;
   margin-top: auto;
   padding: 10px;
}
.li-footer{
    list-style: none;
}
.gras-footer{
    font-weight: bold;
    color: #f54d05;
}
.gras-footer a:visited{
    color: #f54d05;
}
.image-footer{
    width: 40px;
    margin-top: 20;
}


#contenant{
    display: flex;
    justify-content: center;
    align-items: center;
}
#group-compte{
    margin-left: 50px ;
}
#contenant div{
    margin: auto;
}
.kndh{
    text-align: center;
    font: italic;
    font-size: 10px;
}